﻿@using IAV.Merchant.WebMvc.Models
@model ProductListingsSearchView
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <button type="button" class="btn pull-right" onclick='window.location = "@Url.Action("Index", "ProductListings")";'><i class="fa fa-arrow-circle-o-right"></i> Back</button> 
            <button type="button" class="btn pull-right" onclick='window.location = "@Url.Action("Add", "ProductListings")";'><i class="fa fa-plus"></i> Add</button>
            My Listings
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
    <div id="divMsg"></div>
    </div>
    @if (ViewBag.ShowSearch == true)
    {
    <div class="container" >
        <div class="col-lg-6 col-lg-offset-2">
            <div class="form-group input-group">
                <input id="tags" type="text" class="form-control">
                <span class="input-group-btn">
                    <button id="btnSearchProduct" class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    }
</div>
    <div class="row">
        <div class="col-lg-6">
            <form>
                @*@using (Html.BeginForm("Save", "ProductListing", FormMethod.Post))
        {*@
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <fieldset>
                    <div class="form-group">
                        @Html.LabelFor(m => m.id)
                        @Html.TextBoxFor(m => m.id, new { id = "txtId", @class = "form-control", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.product_id)
                        @Html.TextBoxFor(m => m.product_id, new { id = "txtProductId", @class = "form-control", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.product_id, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.name)
                        @Html.TextBoxFor(m => m.name, new { id = "txtProductName", @class = "form-control", @readonly = "true" })
                        @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.quantity_available)
                        @Html.TextBoxFor(m => m.quantity_available, new { id = "txtQuantityAvailable", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.quantity_available, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.actual_price)
                        @Html.TextBoxFor(m => m.actual_price, new { id = "txtActualPrice", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.actual_price, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.discounted_price)
                        @Html.TextBoxFor(m => m.discounted_price, new { id = "txtDiscountedPrice", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.discounted_price, "", new { @class = "text-danger" })
                    </div>
                    <!-- Change this to a button or input when using this as a form -->
                    <button id="btnSubmit" type="button" class="btn btn-lg btn-success btn-block">Submit</button>
                </fieldset>
                @*}*@
            </form>
        </div>
    </div>

    @section scripts{
        <script type="text/javascript">
        $(function () {
            $('#addToProduct').click(function () {
                var productName = $('#tags').val(); // get the textbox value
                var url = $(this).attr('href') + '?productName=' + productName; // build new url
                location.href = url; // redirect
                return false; // cancel default redirect
            });

            var availableTags = JSON.parse('@Html.Raw(HttpUtility.JavaScriptStringEncode((string)TempData["products"]))');

            $("#tags").autocomplete({
                source: availableTags
            });

            $("#btnSearchProduct").click(function () {

                $("#divMsg").val("");

                $.ajax({
                    type: 'POST',
                    url: "/ProductListings/SearchProduct",
                    data: { "ProductName": $("#tags").val()},
                    dataType: "json",
                    //success: function (result) {
                    //    Console.log(result);
                    //}
                    success: function (data, textStatus, jQxhr) {
                        if (data.Success) {
                            $("#divMsg").attr("class", "alert alert-success");
                            var productListings = data.ProductListings;
                            $("#txtId").val(productListings.id);
                            $("#txtProductId").val(productListings.product_id);
                            $("#txtProductName").val(productListings.name);
                            $("#txtQuantityAvailable").val(productListings.quantity_available);
                            $("#txtActualPrice").val(productListings.actual_price);
                            $("#txtDiscountedPrice").val(productListings.discounted_price);
                        }
                        else {
                            $("#divMsg").attr("class", "alert alert-danger");
                        }
                        $("#divMsg").html(data.Message);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            });


            $("#btnSubmit").click(function () {

                $("#divMsg").val("");

                var productListings = {
                    id: $("#txtId").val(),
                    product_id: $("#txtProductId").val(),
                    name: $("#txtProductName").val(),
                    quantity_available: $("#txtQuantityAvailable").val(),
                    actual_price: $("#txtActualPrice").val(),
                    discounted_price: $("#txtDiscountedPrice").val()
                } 

                $.ajax({
                    type: 'POST',
                    url: "/ProductListings/Save",
                    data: productListings,
                    dataType: "json",
                    //success: function (result) {
                    //    Console.log(result);
                    //}
                    success: function (data, textStatus, jQxhr) {
                        if (data.Success) {
                            $("#divMsg").attr("class", "alert alert-success");

                            var productListings = data.ProductListings;
                            $("#txtId").val(productListings.id);
                            $("#txtProductId").val(productListings.product_id);
                            $("#txtProductName").val(productListings.name);
                            $("#txtQuantityAvailable").val(productListings.quantity_available);
                            $("#txtActualPrice").val(productListings.actual_price);
                            $("#txtDiscountedPrice").val(productListings.discounted_price);
                        }
                        else {
                            $("#divMsg").attr("class", "alert alert-danger");
                        }

                        $("#divMsg").html(data.Message);
                    },
                    error: function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    }
                });
            });
        });
        </script>
    }


