﻿@using IAV.Merchant.WebMvc.Models
@model ProductListingsSearchViewModel
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">

            <button type="button" class="btn pull-right" onclick='window.location = "@Url.Action("Add", "ProductListings")";'>Add</button>
            My Listings
        </h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@using (Html.BeginForm("Index", "ProductListings", FormMethod.Post, new { id = "productListingsForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Stock
                        </th>
                        <th>
                            Price
                        </th>
                        <th>
                            Discounted Price
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.ProductListings)
                    {
                        <tr>
                            <th>
                                @Html.ActionLink(@item.id.ToString(), // <-- Link text
                            "Edit",
                            new { id = item.id },
                            null)
                        </th>
                        <td>@item.name</td>
                        <td>@item.quantity_available</td>
                        <td>@item.actual_price</td>
                        <td>@item.discounted_price</td>
                    </tr>
                }
                </tbody>
            </table>
            <input type="hidden" id="hdPageNo" name="PageNo" />
            <input type="hidden" id="hdNoOfResultPerPage" name="NoOfResultPerPage" value="@Model.NoOfResultPerPage" />
            <ul class="pagination">
                @foreach (var item in Model.Pages)
                {
                    <li class="@(item.is_enable ? "" : "active")"><a href="javascript:PagerClick(@item.id);">@item.name</a></li>
                }
            </ul>
        </div>
    </div>
</div>

}

@section scripts{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hdPageNo").value = index;
            document.getElementById("productListingsForm").submit();
        }
    </script>
}
