﻿@using IAV.Merchant.WebMvc.Models
@model LoginView
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="container">
    <div class="row"  style="padding-top:20px;padding-bottom:20px;">
        <div class="col-md-4 col-md-offset-4 mt-15">
            <div class=" panel panel-default">                
                <div style="background-color: rgb(77,177,81); color: rgba(255,255,255,0.87);" >
                    <div  style="padding-top:20px;padding-bottom:20px;" class="text-center">
                        <img src="../lib/css/icons/web_icon.svg" style="color:#FFFFFF;width:60px;height:60px;margin:5px;"/>
                    </div>      
                </div>
                <div class="panel-body">
                    <h3 class="text-center " style="color:gray">Please Sign In</h3>
                    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                <label>
                                    <a href="~/accounts/ForgotPassword" style =" text-decoration: none;">Forgot Password</a>
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
