﻿@model IAV.Data.Models.merchant

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Profile</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.organization_type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.organization_type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.merchant_name_one)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.merchant_name_one)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.merchant_name_two)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.merchant_name_two)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.merchant_name_three)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.merchant_name_three)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.merchant_name_four)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.merchant_name_four)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.merchant_name_five)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.merchant_name_five)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.merchant_name_six)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.merchant_name_six)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.organization_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.organization_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.store_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.store_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gstin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gstin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.tan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tan)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.cin)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cin)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gumasta_license)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gumasta_license)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.contact_person_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contact_person_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.primary_contact_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.primary_contact_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.secondary_contact_number)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.secondary_contact_number)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.primary_emailid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.primary_emailid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.secondary_emailid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.secondary_emailid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.working_hours)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.working_hours)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.business_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.business_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.signature)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.signature)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address_line1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address_line1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address_line2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address_line2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.pincode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.pincode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.city)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.city)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.state)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.state)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.store_no)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.store_no)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.phone_no)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.phone_no)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.latitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.latitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.longitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.longitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.store_picture)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.store_picture)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.delivery_charges)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.delivery_charges)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.charge)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.charge)
            </dd>

        </dl>
    </div>
</div>