﻿@using IAV.Merchant.WebMvc.Models
@model ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_Home.cshtml";
}
<div class="container">
    <div class="row"   style="padding-top:20px;padding-bottom:20px;">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div style="background-color: rgb(77,177,81); color: rgba(255,255,255,0.87);">
                    <div style="padding-top:20px;padding-bottom:20px;" class="text-center">
                        <img src="../lib/css/icons/web_icon.svg" style="color:#FFFFFF;width:60px;height:60px;margin:5px;" />
                    </div>
                </div>
                <div class="panel-body">
                    <h3 class="text-center " style="color:gray">Reset your password.</h3>
                    @using (Html.BeginForm("ResetPassword", "Accounts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        <fieldset>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block">Reset</button>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
