<div ng-app="App" ng-controller="NewsController">
    <md-card class="md-whiteframe-1dp">
        <div class="table-responsive-vertical">
            <table id="table" class="table table-hover">
                <thead class="sub-menu-bg">
                    <tr>
                        <th width="1%">No</th>
                        <th width="20%">Title</th>
                        <th width="3%">Type</th>
                        <th width="5%">Status</th>
                        <th width="5%">Update</th>
                        <th width="5%">Action</th>
                    </tr>
                </thead>
                <md-divider></md-divider>
                <tbody>
                    <tr ng-repeat="n in news">
                        <td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
                        <td data-title="Title">{{n.title | cut:false:50:' ...'}}</td>
                        <td data-title="Type">
                            <draft ng-if="n.draft == 1">DRAFT</draft>
                            <publish ng-if="n.draft != 1">PUBLISHED</publish>
                        </td>
                        <td data-title="Status">
                            <featured ng-if="n.status=='FEATURED'">{{n.status}}</featured>
                            <normal ng-if="n.status!='FEATURED'">{{n.status}}</normal>
                        </td>
                        <td data-title="Update">{{n.last_update | date:'dd MMM yy'}}</td>
                        <td data-title="Action">
                            <md-menu md-position-mode="target-right target">
                                <md-button class="md-btn-small" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-ic-small" ng-style="{'font-size': '15px'}">more_vert</md-icon>
                                </md-button>
                                <md-menu-content width=3>
                                    <md-title class="md-padding"><b>MENU - {{n.title}}</b></md-title>
                                    <md-menu-item>
                                        <md-button layout-fill md-ink-ripple ng-click="detailsNewsInfo($event, n)">
                                            <md-icon md-class="md-primary" md-menu-align-target>launch</md-icon>Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button layout-fill md-ink-ripple ng-click="editNewsInfo($event, n)">
                                            <md-icon md-class="md-primary" md-menu-align-target>create</md-icon>Edit
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="n.draft == 1">
                                        <md-button layout-fill md-ink-ripple ng-click="publishDialog($event, n)">
                                            <md-icon md-class="md-primary" md-menu-align-target>check_circle</md-icon>Publish
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button layout-fill md-ink-ripple ng-click="deleteNewsInfo($event, n)">
                                            <md-icon md-class="md-primary" md-menu-align-target>delete</md-icon>Delete
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="loading" style="text-align:center;" colspan="10">
                <p>Loading</p>
                <md-progress-linear md-mode="indeterminate" />
            </div>
        </div>

        <!--pagination view-->
        <md-divider></md-divider>
        <section layout="row" class="sub-menu-bg" flex>
            <cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current" />
        </section>

    </md-card>
</div>