<div ng-app="App" ng-controller="ProductController">   
    <md-dialog layout="column" flex="50" aria-label="dialog place">
        <form role="form" name="thisForm">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>{{product.name}}</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="cancel()">
                        <md-icon aria-label="Close dialog">clear</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-dialog-content class="autoScroll" style="max-width:800px;max-height:810px;">
                <img class="md-center" style="margin: auto; max-width: 100%;" ng-src="../uploads/product/{{product.image}}" flex="40">
                <md-divider></md-divider>
                <div layout="row">
                    <item flex="25">Price</item> <item flex="5"> : </item> <item>{{product.price}}</item>
                </div>
                <div layout="row">
                    <item flex="25">Stock</item> <item flex="5"> : </item> <item>{{product.stock}}</item>
                </div>
                <div layout="row">
                    <item flex="25">brand_name</item> <item flex="5"> : </item> <item>{{product.brand_name}}</item>
                </div>

                <md-divider class="margin-divider"></md-divider>
                <div layout="row">
                    <item flex="25">Category</item> <item flex="5"> : </item>
                    <md-chips ng-model="categories" readonly="true">
                        <md-chip-template><span>{{$chip.name}}</span></md-chip-template>
                    </md-chips>
                </div>

                <div layout="row">
                    <item flex="25">Type</item> <item flex="5"> : </item>
                    <item>
                        <draft ng-if="product.draft == 1">DRAFT</draft>
                        <publish ng-if="product.draft != 1">PUBLISHED</publish>
                    </item>
                </div>
                <div layout="row">
                    <item flex="25">Status</item> <item flex="5"> : </item>
                    <item>
                        <ready-stock ng-if="product.status=='READY STOCK'">{{product.status}}</ready-stock>
                        <suspend ng-if="product.status=='SUSPEND'">{{product.status}}</suspend>
                        <out-of-stock ng-if="product.status=='OUT OF STOCK'">{{product.status}}</out-of-stock>
                    </item>
                </div>

                <md-divider class="margin-divider"></md-divider>
                <div layout="row">
                    <item flex="25">Created At</item> <item flex="5"> : </item> <item>{{product.created_at | date:'hh.mm, dd MMMM yyyy'}}</item>
                </div>
                <div layout="row">
                    <item flex="25">Last Update</item> <item flex="5"> : </item> <item>{{product.last_update | date:'hh.mm, dd MMMM yyyy'}}</item>
                </div>

                <md-divider class="margin-divider"></md-divider>
                <div layout="row">
                    <item flex="25">Images (Optional)</item> <item flex="5"> : </item>
                </div>
                <div layout="row">
                    <img ng-repeat="i in images" style="margin:5px;width:120px;max-height:120px;" ng-src="../uploads/product/{{i.name}}">
                </div>

                <md-divider class="margin-divider"></md-divider>
                <div layout="row">
                    <item flex="25">Description</item> <item flex="5"> : </item>
                </div>
                <div ng-bind-html="product.description"></div>
            </md-dialog-content>
        </form>
    </md-dialog>
</div>