<div ng-app="App" ng-controller="ProductController">
    
    <div layout="row">
        <md-card flex="35">
            <md-input-container flex md-no-float class="header-table-display">
                <md-select ng-model="category_id" class="option-plain" ng-change="loadPages()" aria-label="category product">
                    <md-option ng-repeat="c in categories_data" value="{{c.id}}">{{c.name}}</md-option>
                </md-select>
            </md-input-container>
        </md-card>
        <md-card flex="15">
            <md-input-container flex md-no-float class="header-table-display">
                <md-select ng-model="max_item" class="option-plain" ng-change="loadPages()" aria-label="Max Item">
                    <md-option ng-repeat="m in max_item_array" value="{{m.value}}">{{m.text}}</md-option>
                </md-select>
            </md-input-container>
        </md-card>
    </div>

    <md-card class="md-whiteframe-1dp">
        <div class="table-responsive-vertical">
            <table id="table" class="table table-hover">
                <thead class="sub-menu-bg">
                    <tr>
                        <th width="1%">No</th>
                        <th width="20%">Name</th>
                        <th width="3%">Type</th>
                        <th width="5%">Price</th>
                        <th width="3%">Stock</th>
                        <th width="8%">Status</th>
                        <th width="5%">Update</th>
                        <th width="5%">Action</th>
                    </tr>
                </thead>
                <md-divider></md-divider>
                <tbody>
                    <tr ng-repeat="p in product">
                        <td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
                        <td data-title="Name">{{p.name | cut:false:40:' ...'}}</td>
                        <td data-title="Type">
                            <draft ng-if="p.draft == 1">DRAFT</draft>
                            <publish ng-if="p.draft != 1">PUBLISHED</publish>
                        </td>
                        <td data-title="Price">{{p.price}}</td>
                        <td data-title="Stock">{{p.stock}}</td>
                        <td data-title="Status">
                            <ready-stock ng-if="p.status=='READY STOCK'">{{p.status}}</ready-stock>
                            <suspend ng-if="p.status=='SUSPEND'">{{p.status}}</suspend>
                            <out-of-stock ng-if="p.status=='OUT OF STOCK'">{{p.status}}</out-of-stock>
                        </td>
                        <td data-title="Update">{{p.last_update | date:'dd MMM yy'}}</td>
                        <td data-title="Action">
                            <md-menu md-position-mode="target-right target">
                                <md-button class="md-btn-small" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-ic-small" ng-style="{'font-size': '15px'}">more_vert</md-icon>
                                </md-button>
                                <md-menu-content width=3>
                                    <md-title class="md-padding"><b>MENU - {{p.name}}</b></md-title>
                                    <md-menu-item>
                                        <md-button layout-fill md-ink-ripple ng-click="detailsProduct($event, p)">
                                            <md-icon md-class="md-primary" md-menu-align-target>launch</md-icon>Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button layout-fill md-ink-ripple ng-click="editProduct($event, p)">
                                            <md-icon md-class="md-primary" md-menu-align-target>create</md-icon>Edit
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="p.draft == 1">
                                        <md-button layout-fill md-ink-ripple ng-click="publishDialog($event, p)">
                                            <md-icon md-class="md-primary" md-menu-align-target>check_circle</md-icon>Publish
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button layout-fill md-ink-ripple ng-click="deleteProduct($event, p)">
                                            <md-icon md-class="md-primary" md-menu-align-target>delete</md-icon>Delete
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="loading" style="text-align:center;" colspan="10">
                <p>Loading</p>
                <md-progress-linear md-mode="indeterminate" />
            </div>
        </div>

        <!--pagination view-->
        <md-divider></md-divider>
        <section layout="row" class="sub-menu-bg" flex>
            <cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current" />
        </section>

    </md-card>
</div>
