﻿@model IAV.Data.Models.merchant
@{
    ViewBag.Title = "MerchantAdd";
}

<h2>MerchantAdd</h2>

<div class="row">

    @using (Html.BeginForm("Add", "Merchants", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

    <div class="col-lg-6">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        
        <fieldset>
            <div class="form-group">
                @Html.LabelFor(m => m.organization_type)
                @Html.TextBoxFor(m => m.organization_type, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.organization_type, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.merchant_name_one)
                @Html.TextBoxFor(m => m.merchant_name_one, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.merchant_name_one, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.merchant_name_three)
                @Html.TextBoxFor(m => m.merchant_name_three, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.merchant_name_three, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.merchant_name_five)
                @Html.TextBoxFor(m => m.merchant_name_five, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.merchant_name_five, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.store_name)
                @Html.TextBoxFor(m => m.store_name, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.store_name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.cin)
                @*@Html.TextBoxFor(m => m.cin, new { @type = "file",@name="cin" })*@
                <input type="file" name="cin" value="" id="cin" />
                @Html.ValidationMessageFor(m => m.cin, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.contact_person_name)
                @Html.TextBoxFor(m => m.contact_person_name, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.contact_person_name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.secondary_contact_number)
                @Html.TextBoxFor(m => m.secondary_contact_number, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.secondary_contact_number, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.primary_emailid)
                @Html.TextBoxFor(m => m.primary_emailid, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.primary_emailid, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.working_hours)
                @Html.TextBoxFor(m => m.working_hours, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.working_hours, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.address_line1)
                @Html.TextBoxFor(m => m.address_line1, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.address_line1, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.pincode)
                @Html.TextBoxFor(m => m.pincode, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.pincode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.state)
                @Html.TextBoxFor(m => m.state, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.state, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.phone_no)
                @Html.TextBoxFor(m => m.phone_no, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.phone_no, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.longitude)
                @Html.TextBoxFor(m => m.longitude, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.longitude, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.delivery_charges)
                @Html.TextBoxFor(m => m.delivery_charges, new { @class = "form-control", })
                @Html.ValidationMessageFor(m => m.delivery_charges, "", new { @class = "text-danger" })
            </div>

            <!-- Change this to a button or input when using this as a form -->

        </fieldset>

    </div>


        <div class="col-lg-6">

            <fieldset>
                <div class="form-group">
                    @Html.LabelFor(m => m.organization_name)
                    @Html.TextBoxFor(m => m.organization_name, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.organization_name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.merchant_name_two)
                    @Html.TextBoxFor(m => m.merchant_name_two, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.merchant_name_two, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.merchant_name_four)
                    @Html.TextBoxFor(m => m.merchant_name_four, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.merchant_name_four, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.merchant_name_six)
                    @Html.TextBoxFor(m => m.merchant_name_six, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.merchant_name_six, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.gstin)
                    @Html.TextBoxFor(m => m.gstin, new { @type = "file", @name = "gstin" }) 
                    @Html.ValidationMessageFor(m => m.gstin, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.gumasta_license)
                    @Html.TextBoxFor(m => m.gumasta_license, new { @type = "file", @name = "gumasta_license" })               
                    @Html.ValidationMessageFor(m => m.gumasta_license, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.primary_contact_number)
                    @Html.TextBoxFor(m => m.primary_contact_number, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.primary_contact_number, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.secondary_emailid)
                    @Html.TextBoxFor(m => m.secondary_emailid, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.secondary_emailid, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.business_name)
                    @Html.TextBoxFor(m => m.business_name, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.business_name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.signature)
                    @Html.TextBoxFor(m => m.signature, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.signature, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.address_line2)
                    @Html.TextBoxFor(m => m.address_line2, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.address_line2, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.city)
                    @Html.TextBoxFor(m => m.city, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.city, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.store_no)
                    @Html.TextBoxFor(m => m.store_no, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.store_no, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.latitude)
                    @Html.TextBoxFor(m => m.latitude, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.latitude, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.store_picture)
                    @Html.TextBoxFor(m => m.store_picture, new { @type = "file",@name= "store_picture" })                  
                    @Html.ValidationMessageFor(m => m.store_picture, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.charge)
                    @Html.TextBoxFor(m => m.charge, new { @class = "form-control", })
                    @Html.ValidationMessageFor(m => m.charge, "", new { @class = "text-danger" })
                </div>

                <!-- Change this to a button or input when using this as a form -->
                <button type="submit" class="btn btn-sm btn-success ">Submit</button>
            </fieldset>

        </div>



    }

</div>