﻿
<div ng-app="App" ng-controller="NotificationController">
    <md-card class="md-whiteframe-1dp">
        <div class="table-responsive-vertical">
            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th width="2%">No</th>
                        <th width="30%">Device Name</th>
                        <th width="20%">Serial</th>
                        <th width="10%">OS Version</th>
                        <th width="10%">App Version</th>
                        <th width="10%">Update</th>
                        <th width="10%" style="text-align:center;">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="f in fcm">
                        <td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
                        <td data-title="Device Name">{{f.device}}</td>
                        <td data-title="Serial">{{f.serial}}</td>
                        <td data-title="OS Version">{{f.os_version}}</td>
                        <td data-title="App Version">{{f.app_version}}</td>
                        <td data-title="Update">{{f.last_update | date:'dd MMM yy'}}</td>
                        <td data-title="Action">
                            <div layout="row" layout-align="center">
                                <md-button layout-align="center" class="md-btn-small" ng-click="sendNotification($event, f)">
                                    <md-icon class="md-ic-small" ng-style="{'font-size': '15px'}">send</md-icon>
                                    <md-tooltip>Delete Item</md-tooltip>
                                </md-button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="loading" style="text-align:center;" colspan="10">
                <p>Loading</p>
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
            </div>

        </div>

        <!--pagination view-->
        <section layout="row" class="sub-menu-bg" flex>
            <cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
        </section>

    </md-card>

</div>