﻿<div ng-app="App" ng-controller="OrderController">
    <md-card class="md-whiteframe-1dp">
        <div class="table-responsive-vertical">
            <table id="table" class="table table-hover">
                <thead>
                    <tr>
                        <th width="1%">No</th>
                        <th width="30%">Buyer</th>
                        <th width="10%">Code</th>
                        <th width="10%">Total Fees</th>
                        <th width="10%">Date Ship</th>
                        <th width="10%">Created at</th>
                        <th width="5%">Status</th>
                        <th width="5%">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="po in product_order">
                        <td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
                        <td data-title="Buyer">{{po.buyer}}</td>
                        <td data-title="Fees">{{po.code}}</td>
                        <td data-title="Fees">{{po.total_fees}}</td>
                        <td data-title="Date Ship">{{po.date_ship | date:'dd MMM yy'}}</td>
                        <td data-title="Created at">{{po.created_at | date:'dd MMM yy'}}</td>
                        <td data-title="Status">
                            <waiting ng-if="po.status=='WAITING'">{{po.status}}</waiting>
                            <processed ng-if="po.status=='PROCESSED'">{{po.status}}</processed>
                            <cancel ng-if="po.status=='CANCEL'">{{po.status}}</cancel>
                        </td>
                        <td data-title="Action">
                            <md-menu md-position-mode="target-right target">
                                <md-button class="md-btn-small" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="md-ic-small" ng-style="{'font-size': '15px'}">more_vert</md-icon>
                                </md-button>
                                <md-menu-content width=3>
                                    <md-title class="md-padding">MENU - {{po.buyer}}</md-title>
                                    <md-menu-item>
                                        <md-button layout-fill md-ink-ripple ng-click="detailsOrder($event, po)">
                                            <md-icon md-class="md-primary" md-menu-align-target>launch</md-icon>Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="po.status=='WAITING'">
                                        <md-button layout-fill md-ink-ripple ng-click="processedOrderConfirm($event, po)">
                                            <md-icon md-class="md-primary" md-menu-align-target>assignment_turned_in</md-icon>Process
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="po.status!='PROCESSED'">
                                        <md-button layout-fill md-ink-ripple ng-click="editOrder($event, po)">
                                            <md-icon md-class="md-primary" md-menu-align-target>create</md-icon>Edit
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="po.status=='WAITING'">
                                        <md-button layout-fill md-ink-ripple ng-click="cancelOrder($event, po)">
                                            <md-icon md-class="md-primary" md-menu-align-target>block</md-icon>Cancel
                                        </md-button>
                                    </md-menu-item>

                                    <md-menu-item ng-if="po.status!='PROCESSED'">
                                        <md-button layout-fill md-ink-ripple ng-click="deleteOrder($event, po)">
                                            <md-icon md-class="md-primary" md-menu-align-target>delete</md-icon>Delete
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-if="loading" style="text-align:center;" colspan="10">
                <p>Loading</p>
                <md-progress-linear md-mode="indeterminate" />
            </div>
        </div>

        <!--pagination view-->
        <section layout="row" class="sub-menu-bg" flex>
            <cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current" />
        </section>

    </md-card>
</div>