﻿@model IAV.Data.Models.merchant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>merchant</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.business_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.store_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address_line1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address_line2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.business_name)
            </td>
            <td>
                @Html.DisplayFor(model => model.store_no)
            </td>
            <td>
                @Html.DisplayFor(model => model.address_line1)
            </td>
            <td>
                @Html.DisplayFor(model => model.address_line2)
            </td>
            <td>
                @Html.DisplayFor(model => model.pincode)
            </td>
            <td>
                @Html.DisplayFor(model => model.city)
            </td>
            <td>
                @Html.DisplayFor(model => model.state)
            </td>

        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.phone_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.delivery_charges)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.charge)
            </th>
            <th></th>

        </tr>


        <tr>

            <td>
                @Html.DisplayFor(model => model.phone_no)
            </td>
            <td>
                @Html.DisplayFor(model => model.delivery_charges)
            </td>
            <td>
                @Html.DisplayFor(model => model.charge)
            </td>
            <td>
        <tr>
            @*@Html.ActionLink("Edit", "Edit", new { id = Model.mid }) |
            @Html.ActionLink("Back to List", "Index")*@

        </tr>
        </tr>

    </table>

       
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
