﻿@model IEnumerable<IAV.Data.Models.merchant>
@{
    ViewBag.Title = "Merchants";
}

@*<div ng-app="App" class="row">
    <div ng-controller="MerchantController">
        {{message}}
    </div>
</div>

<div ng-controller="MerchantController">
    <br />
    <br />
    <input type="text" placeholder="Search Merchant" ng-model="searchMerchant" />
    <br />
    <table class="table">
        <tr ng-repeat="m in merchants | filter : searchMerchant">
            <td>{{m.business_name}}<td>
            <td>{{m.store_no}}<td>
            <td>{{m.address_line1}}<td>
        </tr>
    </table>
    </div>*@
                <h2>Merchants</h2>
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.business_name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.store_no)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.address_line1)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.address_line2)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.pincode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.city)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.state)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.phone_no)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.business_name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.store_no)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address_line1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address_line2)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.pincode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.city)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.state)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone_no)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.mid }) |
                                @Html.ActionLink("Details", "Details", new { id = item.mid }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.mid }) |
                                @*@Html.ActionLink("View Products", "Index", "MerchantProducts")*@
                            </td>
                        </tr>
                    }

                </table>
