﻿@model IAV.Data.Models.product
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Products</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.stock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.stock)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.draft)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.draft)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.Raw(HttpUtility.HtmlDecode(Html.DisplayFor(model => model.description).ToString()))
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.created_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.created_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.last_update)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.last_update)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.brand_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.brand_name)
            </dd>

        </dl>
    </div>
    Categories
    <ul>
    @foreach(var product_category in Model.product_category)
    {
        <li>@product_category.category.name</li>
    }
    </ul>
    Images
    <ul>
        @foreach (var product_image in Model.product_image)
        {
            <li>@product_image.name</li>
        }
    </ul>
</div>
