﻿@using IAV.Merchant.WebMvc.Models
@model ProductSearchViewModel
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Products</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@using (Html.BeginForm("Index", "Products", FormMethod.Post, new { id = "productForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Discounted Price
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Products)
                        {
                            <tr>
                                <th>@Html.ActionLink(@item.id.ToString(), // <-- Link text
                                    "Details",
                                    new { id = item.id },
                                    null)
                                </th>
                                <td>@item.name</td>
                                <td>@item.quantity_available</td>
                                <td>@item.actual_price</td>
                                <td>@item.discounted_price</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input type="hidden" id="hdPageNo" name="PageNo" />
                <input type="hidden" id="hdNoOfResultPerPage" name="NoOfResultPerPage" value="@Model.NoOfResultPerPage" />
                <ul class="pagination">
                    @foreach (var item in Model.Pages)
                    {
                        <li class="@(item.is_enable ? "" : "active")"><a href="javascript:PagerClick(@item.id);">@item.name</a></li>
                    }
                </ul>
            </div>
    </div>
</div>

}

@section scripts{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hdPageNo").value = index;
            document.getElementById("productForm").submit();
        }
    </script>
}
