﻿@model IAVAdmin.ViewModels.MerchantProductViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.SelectedProduct.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SelectedProduct.quantity_available)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedProduct.quantity_available)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedProduct.actual_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedProduct.actual_price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedProduct.discounted_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedProduct.discounted_price)
        </dd>
    </dl>
</div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
