﻿@model IAVAdmin.ViewModels.MerchantProductViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.SelectedProduct.Name )</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SelectedProduct.quantity_available)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedProduct.quantity_available)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedProduct.actual_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedProduct.actual_price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SelectedProduct.discounted_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SelectedProduct.discounted_price)
        </dd>
    </dl>
</div>
<p>
   @Html.ActionLink("Back to List", "Index")
</p>
