﻿@model IAVAdmin.ViewModels.MerchantProductViewModel
@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>
@*<p>
    @Html.ActionLink("View Merchants", "Index", "Mmerchants")
</p>*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Quantity Available
        </th>
        <th>
            Actual Price
        </th>
        <th>
            Discounted Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.MerchantProducts) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @item.quantity_available
        </td>
        <td>
            @item.actual_price
        </td>
        <td>
            @item.discounted_price
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
