﻿@model IAV.Data.Models.product_order_detail
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Order</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.order_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.order_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.merchant_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.merchant_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.amount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.price_item)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.price_item)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.created_at)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.created_at)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.last_update)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.last_update)
            </dd>

        </dl>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.product_order.id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_order.id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_order.buyer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_order.buyer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_order.code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_order.code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_order.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_order.address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_order.comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_order.comment)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_order.email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_order.email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.product_order.phone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.product_order.phone)
            </dd>            
        </dl>
    </div>
</div>
