﻿@using IAV.Merchant.WebMvc.Models
@model OrderSearchViewModel
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Orders</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
@using (Html.BeginForm("Index", "Orders", FormMethod.Post, new { id="orderForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Order Id
                            </th>
                            <th>
                                Product Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Created Date
                            </th>
                            <th>
                                Last Update
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Orders)
                        {
                            var createdDate = new DateTime(1970, 1, 1, 0, 0, 0).AddMilliseconds(Convert.ToDouble(@item.created_at));
                            var updatedDate = new DateTime(1970, 1, 1, 0, 0, 0).AddMilliseconds(Convert.ToDouble(@item.last_update));
                        <tr>
                            <th>@Html.ActionLink(@item.id.ToString(), // <-- Link text
                                    "Details",
                                    new { id = item.id },
                                    null)
                            </th>
                            <td>@item.order_id</td>
                            <td>@item.product_name</td>
                            <td>@item.amount</td>
                            <td>@item.price_item</td>
                            <td>@createdDate</td>
                            <td>@updatedDate</td>
                        </tr>
                        }
                    </tbody>
                </table>
                <input type="hidden" id="hdPageNo" name="PageNo" />
                <input type="hidden" id="hdNoOfResultPerPage" name="NoOfResultPerPage" value="@Model.NoOfResultPerPage" />
                <ul class="pagination">
                    @foreach (var item in Model.Pages)
                    {
                        <li class="@(item.is_enable ? "" : "active")"><a href="javascript:PagerClick(@item.id);">@item.name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

}

@section scripts{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("hdPageNo").value = index;
            document.getElementById("orderForm").submit();
        }
    </script>
}
